@import "../../assets/base";
@import "../../assets/var";

body{
	font-family:$primary;
}

/* navigation section */
@import "../../assets/nav";
@import "../../assets/responsive/nav/nav-responsive";


/*category section */
@import "../../assets/category";
@import "../../assets/responsive/category/category-responsive";

/*details section */
@import "../../assets/details";
@import "../../assets/responsive/details-responsive";

/*filter section */
@import "../../assets/filter";


/* responsive details section */



/* pages section */
@import "../../assets/pages";



/* feature section */
@import "../../assets/features";
@import "../../assets/responsive/features/features-responsive";



/* review section */
@import "../../assets/review";
@import "../../assets/responsive/review/review-responsive";


/* total section */
@import "../../assets/total";
@import "../../assets/responsive/total/total-responsive";


/* footer section */
@import "../../assets/footer";
@import "../../assets/responsive/footer/footer-responsive";


/* post now section */
@import "../../assets/post";
@import "../../assets/responsive/post-responsive";



/*banner section */
@import "../../assets/banner";
@import "../../assets/responsive/banner/banner-responsive";

/*side-bar features section */
@import "../../assets/side";

/*agent section */
@import "../../assets/agent";
@import "../../assets/responsive/agentResponsive";

/* sponsor section */
@import "../../assets/sponsor";





input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #3498db;
  box-shadow: 0 1px 0 0 #3498db;
}

input:not([type]):focus:not([readonly]) + label,
input[type=text]:focus:not([readonly]) + label,
input[type=password]:focus:not([readonly]) + label,
input[type=email]:focus:not([readonly]) + label,
input[type=url]:focus:not([readonly]) + label,
input[type=time]:focus:not([readonly]) + label,
input[type=date]:focus:not([readonly]) + label,
input[type=datetime]:focus:not([readonly]) + label,
input[type=datetime-local]:focus:not([readonly]) + label,
input[type=tel]:focus:not([readonly]) + label,
input[type=number]:focus:not([readonly]) + label,
input[type=search]:focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #3498db;
}