

<div id="home">
		<a class="waves-effect waves-light btn" id="filter-btn">Filter</a>
			<div class="filter-btn">
				<form>
		    	<div class="input-field">
				    <select>
				      <option value="" disabled selected>Property Type</option>
				      <option value="1">Commercial</option>
				      <option value="2">Residential</option>      
				    </select>								    
				</div>

				<input id="location" type="text" placeholder="Search By Location"/>


				<p class="range-field" style="margin-top: 0;">
				    <input type="hidden" data-min="" data-max="" id="home-range-value">
				    <label for="home-range">Price Range</label>
				    <div id="home-range"></div>
		    	</p>

				<label for="room-check">No. of Rooms</label>
			    	<div class="room-wrap" id="room-check">
				    	<p class="radio-p col s2">
					      <input name="group1" type="radio" id="home-radio1" />
					      <label for="home-radio1">1</label>
					    </p>
					    <p class="radio-p col s2">
					      <input name="group1" type="radio" id="home-radio2" />
					      <label for="home-radio2">2</label>
					    </p>
					    <p class="radio-p col s2">
					      <input name="group1" type="radio" id="home-radio3" />
					      <label for="home-radio3">3</label>
					    </p>
					    <p class="radio-p col s2">
					      <input name="group1" type="radio" id="home-radio4" />
					      <label for="home-radio4">4-8</label>
					    </p>
					    <p class="radio-p col s2">
					      <input name="group1" type="radio" id="home-radio5" />
					      <label for="home-radio5">9-16</label>
					    </p>
					    <p class="radio-p col s2">
					      <input name="group1" type="radio" id="home-radio6" />
					      <label for="home-radio6">Any</label>
					    </p>    
				    </div>

				    <div class="clearfix"></div>

				<label for="stories-check">No. of Stories</label>
			    	<div class="room-wrap" id="stories-check">
				    	<p class="radio-p col s2">
					      <input name="group2" type="radio" id="home-radio7" />
					      <label for="home-radio7">1</label>
					    </p>
					    <p class="radio-p col s2">
					      <input name="group2" type="radio" id="home-radio8" />
					      <label for="home-radio8">2</label>
					    </p>
					    <p class="radio-p col s2">
					      <input name="group2" type="radio" id="home-radio9" />
					      <label for="home-radio9">3</label>
					    </p>
					    <p class="radio-p col s2">
					      <input name="group2" type="radio" id="home-radio10" />
					      <label for="home-radio10">4</label>
					    </p>
					    <p class="radio-p col s2">
					      <input name="group2" type="radio" id="home-radio11" />
					      <label for="home-radio11">5</label>
					    </p>
					    <p class="radio-p col s2">
					      <input name="group2" type="radio" id="home-radio12" />
					      <label for="home-radio12">Any</label>
					    </p>    
				    </div>
				    <div class="clearfix"></div>

				    	<button type="submit" class="waves-effect waves-light btn filter-search">Search</button>
				    </form>
				    <div class="clearfix"></div>
				     
			</div><!--filter-btn ends-->		
	
		
			<div class="row">
				<div class="card-one col l4 m6 s12">
					<div class="all">
						<a href="#" class="main-box">
							<div class="display-image">
					      		<img src="../build/images/house.png"/>
					      		<span class="caption">Chainpur, Bara</span>
					      	</div>
					      	<div class="card-info">					      	
						      	<p class="cost">Nrs 22000/mo. </p>
						      	<p class="need">Subhida yukta flat bhadama chaiyeko awastha </p>
						      	<div class="icons icon1" >
						      		<div class="belt">
									<button title="Air-conditioned" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/ac.svg">
	    							 	
	    							</button>	
	    							 <button title="Security Camera" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/cc.svg">
	    							 	
	    							 </button>	
	    							 <button title="Electricity" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/electricity.svg">
	    							 	
	    							 </button>	
	    							 <button title="Elevator" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/elevator.svg">
	    							 	
	    							 </button>	
	    							 <button title="Furnished" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/furnished.svg">
	    							 	
	    							 </button>	
	    							 <button title="Garden" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/garden.svg">
	    							 	
	    							 </button>
	    							 <button title="Gym" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/gym.svg">
	    							 	
	    							 </button>	
	    							 <button title="Internet" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/internet.svg">
	    							 	
	    							 </button>	
	    							 <button title="East Faced" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/east.svg">
	    							 	
	    							 </button>	
	    							 <button title="West Faced" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/west.svg">
	    							 	
	    							 </button>	
	    							 <button title="North Faced" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/north.svg">
	    							 	
	    							 </button>	
	    							 <button title="South Faced" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/south.svg">
	    							 	
	    							 </button>	
	    							 <button title="Parking" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/parking.svg">
	    							 	
	    							 </button>	
	    							 <button title="Pets Allowed" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/pets.svg">
	    							 	
	    							 </button>	
	    							 <button title="Swimming Pool" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/pool.svg">
	    							 	
	    							 </button>	
	    							 <button title="Shopping Center" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/shopping.svg">
	    							 	
	    							 </button>	
	    							 <button title="Solar" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/solar.svg">
	    							 	
	    							 </button>	
	    							 <button title="Theatre" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/theatre.svg">
	    							 	
	    							 </button>	
	    							 <button title="Water 24*7" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/water.svg">
	    							 	
	    							 </button>	
	    							 <button title="Power Backup" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/power.svg">
	    							 	
	    							 </button>	
	    							 <button title="Television" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/tv.svg">
	    							 	
	    							 </button>	
									
									</div>
								</div>

						      	<p class="fav"><i class="fa fa-heart"> <span>78 favs</span></i></p>
						      	<p class="view"><i class="fa fa-eye"> <span>1667 views</span></i></p>
						      	<div class="clearfix"></div>						      	
					      	</div>
					    </a>
				      	<a class="btn-floating btn-large waves-effect waves-light fav-btn"><i class="fa fa-heart-o"></i></a>			
			        </div>	
				</div>

				<div class="card-one col l4 m6 s12">
					<div class="all">
						<a href="#" class="main-box">
							<div class="display-image">
					      		<img src="../build/images/house.png"/>
					      		<span class="caption">Chainpur, Bara</span>
					      	</div>
					      	<div class="card-info">						      	
						      	<p class="cost">Nrs 22000/mo. </p>
						      	<p class="need">Subhida yukta flat bhadama chaiyeko awastha </p>
						      	<div class="icons icon1" >
						      		<div class="belt">
									<button title="Air-conditioned" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/ac.svg">
	    							 	
	    							</button>	
	    							 <button title="Security Camera" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/cc.svg">
	    							 	
	    							 </button>	
	    							 <button title="Electricity" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/electricity.svg">
	    							 	
	    							 </button>	
	    							 <button title="Elevator" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/elevator.svg">
	    							 	
	    							 </button>	
	    							 <button title="Furnished" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/furnished.svg">
	    							 	
	    							 </button>	
	    							 <button title="Garden" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/garden.svg">
	    							 	
	    							 </button>
	    							 <button title="Gym" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/gym.svg">
	    							 	
	    							 </button>	
	    							 <button title="Internet" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/internet.svg">
	    							 	
	    							 </button>	
	    							 <button title="East Faced" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/east.svg">
	    							 	
	    							 </button>	
	    							 <button title="West Faced" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/west.svg">
	    							 	
	    							 </button>	
	    							 <button title="North Faced" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/north.svg">
	    							 	
	    							 </button>	
	    							 <button title="South Faced" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/south.svg">
	    							 	
	    							 </button>	
	    							 <button title="Parking" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/parking.svg">
	    							 	
	    							 </button>	
	    							 <button title="Pets Allowed" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/pets.svg">
	    							 	
	    							 </button>	
	    							 <button title="Swimming Pool" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/pool.svg">
	    							 	
	    							 </button>	
	    							 <button title="Shopping Center" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/shopping.svg">
	    							 	
	    							 </button>	
	    							 <button title="Solar" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/solar.svg">
	    							 	
	    							 </button>	
	    							 <button title="Theatre" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/theatre.svg">
	    							 	
	    							 </button>	
	    							 <button title="Water 24*7" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/water.svg">
	    							 	
	    							 </button>	
	    							 <button title="Power Backup" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/power.svg">
	    							 	
	    							 </button>	
	    							 <button title="Television" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/tv.svg">
	    							 	
	    							 </button>	
									
									</div>
								</div>

						      	<p class="fav"><i class="fa fa-heart"> <span>78 favs</span></i></p>
						      	<p class="view"><i class="fa fa-eye"> <span>1667 views</span></i></p>
						      	<div class="clearfix"></div>						      	
					      	</div>
					    </a>
				      	<a class="btn-floating btn-large waves-effect waves-light fav-btn"><i class="fa fa-heart-o"></i></a>			
			        </div>	
				</div>

				<div class="card-one col l4 m6 s12">
					<div class="all">
						<a href="#" class="main-box">
							<div class="display-image">
					      		<img src="../build/images/house.png"/>
					      		<span class="caption">Chainpur, Bara</span>
					      	</div>
					      	<div class="card-info">						      	
						      	<p class="cost">Nrs 22000/mo. </p>
						      	<p class="need">Subhida yukta flat bhadama chaiyeko awastha </p>
						      	<div class="icons icon1" >
						      		<div class="belt">
									<button title="Air-conditioned" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/ac.svg">
	    							 	
	    							</button>	
	    							 <button title="Security Camera" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/cc.svg">
	    							 	
	    							 </button>	
	    							 <button title="Electricity" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/electricity.svg">
	    							 	
	    							 </button>	
	    							 <button title="Elevator" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/elevator.svg">
	    							 	
	    							 </button>	
	    							 <button title="Furnished" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/furnished.svg">
	    							 	
	    							 </button>	
	    							 <button title="Garden" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/garden.svg">
	    							 	
	    							 </button>
	    							 <button title="Gym" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/gym.svg">
	    							 	
	    							 </button>	
	    							 <button title="Internet" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/internet.svg">
	    							 	
	    							 </button>	
	    							 <button title="East Faced" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/east.svg">
	    							 	
	    							 </button>	
	    							 <button title="West Faced" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/west.svg">
	    							 	
	    							 </button>	
	    							 <button title="North Faced" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/north.svg">
	    							 	
	    							 </button>	
	    							 <button title="South Faced" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/south.svg">
	    							 	
	    							 </button>	
	    							 <button title="Parking" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/parking.svg">
	    							 	
	    							 </button>	
	    							 <button title="Pets Allowed" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/pets.svg">
	    							 	
	    							 </button>	
	    							 <button title="Swimming Pool" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/pool.svg">
	    							 	
	    							 </button>	
	    							 <button title="Shopping Center" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/shopping.svg">
	    							 	
	    							 </button>	
	    							 <button title="Solar" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/solar.svg">
	    							 	
	    							 </button>	
	    							 <button title="Theatre" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/theatre.svg">
	    							 	
	    							 </button>	
	    							 <button title="Water 24*7" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/water.svg">
	    							 	
	    							 </button>	
	    							 <button title="Power Backup" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/power.svg">
	    							 	
	    							 </button>	
	    							 <button title="Television" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/tv.svg">
	    							 	
	    							 </button>	
									
									</div>
								</div>

						      	<p class="fav"><i class="fa fa-heart"> <span>78 favs</span></i></p>
						      	<p class="view"><i class="fa fa-eye"> <span>1667 views</span></i></p>
						      	<div class="clearfix"></div>						      	
					      	</div>
					    </a>
				      	<a class="btn-floating btn-large waves-effect waves-light fav-btn"><i class="fa fa-heart-o"></i></a>			
			        </div>	
				</div>

				<div class="card-one col l4 m6 s12">
					<div class="all">
						<a href="#" class="main-box">
							<div class="display-image">
					      		<img src="../build/images/house.png"/>
					      		<span class="caption">Chainpur, Bara</span>
					      	</div>
					      	<div class="card-info">						      	
						      	<p class="cost">Nrs 22000/mo. </p>
						      	<p class="need">Subhida yukta flat bhadama chaiyeko awastha </p>
						      	<div class="icons icon1" >
						      		<div class="belt">
									<button title="Air-conditioned" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/ac.svg">
	    							 	
	    							</button>	
	    							 <button title="Security Camera" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/cc.svg">
	    							 	
	    							 </button>	
	    							 <button title="Electricity" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/electricity.svg">
	    							 	
	    							 </button>	
	    							 <button title="Elevator" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/elevator.svg">
	    							 	
	    							 </button>	
	    							 <button title="Furnished" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/furnished.svg">
	    							 	
	    							 </button>	
	    							 <button title="Garden" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/garden.svg">
	    							 	
	    							 </button>
	    							 <button title="Gym" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/gym.svg">
	    							 	
	    							 </button>	
	    							 <button title="Internet" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/internet.svg">
	    							 	
	    							 </button>	
	    							 <button title="East Faced" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/east.svg">
	    							 	
	    							 </button>	
	    							 <button title="West Faced" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/west.svg">
	    							 	
	    							 </button>	
	    							 <button title="North Faced" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/north.svg">
	    							 	
	    							 </button>	
	    							 <button title="South Faced" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/south.svg">
	    							 	
	    							 </button>	
	    							 <button title="Parking" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/parking.svg">
	    							 	
	    							 </button>	
	    							 <button title="Pets Allowed" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/pets.svg">
	    							 	
	    							 </button>	
	    							 <button title="Swimming Pool" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/pool.svg">
	    							 	
	    							 </button>	
	    							 <button title="Shopping Center" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/shopping.svg">
	    							 	
	    							 </button>	
	    							 <button title="Solar" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/solar.svg">
	    							 	
	    							 </button>	
	    							 <button title="Theatre" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/theatre.svg">
	    							 	
	    							 </button>	
	    							 <button title="Water 24*7" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/water.svg">
	    							 	
	    							 </button>	
	    							 <button title="Power Backup" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/power.svg">
	    							 	
	    							 </button>	
	    							 <button title="Television" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/tv.svg">
	    							 	
	    							 </button>	
									
									</div>
								</div>

						      	<p class="fav"><i class="fa fa-heart"> <span>78 favs</span></i></p>
						      	<p class="view"><i class="fa fa-eye"> <span>1667 views</span></i></p>
						      	<div class="clearfix"></div>						      	
					      	</div>
					    </a>
				      	<a class="btn-floating btn-large waves-effect waves-light fav-btn"><i class="fa fa-heart-o"></i></a>			
			        </div>	
				</div>

				<div class="card-one col l4 m6 s12">
					<div class="all">
						<a href="#" class="main-box">
							<div class="display-image">
					      		<img src="../build/images/house.png"/>
					      		<span class="caption">Chainpur, Bara</span>
					      	</div>
					      	<div class="card-info">						      	
						      	<p class="cost">Nrs 22000/mo. </p>
						      	<p class="need">Subhida yukta flat bhadama chaiyeko awastha </p>
						      	<div class="icons icon1" >
						      		<div class="belt">
									<button title="Air-conditioned" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/ac.svg">
	    							 	
	    							</button>	
	    							 <button title="Security Camera" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/cc.svg">
	    							 	
	    							 </button>	
	    							 <button title="Electricity" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/electricity.svg">
	    							 	
	    							 </button>	
	    							 <button title="Elevator" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/elevator.svg">
	    							 	
	    							 </button>	
	    							 <button title="Furnished" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/furnished.svg">
	    							 	
	    							 </button>	
	    							 <button title="Garden" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/garden.svg">
	    							 	
	    							 </button>
	    							 <button title="Gym" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/gym.svg">
	    							 	
	    							 </button>	
	    							 <button title="Internet" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/internet.svg">
	    							 	
	    							 </button>	
	    							 <button title="East Faced" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/east.svg">
	    							 	
	    							 </button>	
	    							 <button title="West Faced" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/west.svg">
	    							 	
	    							 </button>	
	    							 <button title="North Faced" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/north.svg">
	    							 	
	    							 </button>	
	    							 <button title="South Faced" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/south.svg">
	    							 	
	    							 </button>	
	    							 <button title="Parking" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/parking.svg">
	    							 	
	    							 </button>	
	    							 <button title="Pets Allowed" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/pets.svg">
	    							 	
	    							 </button>	
	    							 <button title="Swimming Pool" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/pool.svg">
	    							 	
	    							 </button>	
	    							 <button title="Shopping Center" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/shopping.svg">
	    							 	
	    							 </button>	
	    							 <button title="Solar" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/solar.svg">
	    							 	
	    							 </button>	
	    							 <button title="Theatre" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/theatre.svg">
	    							 	
	    							 </button>	
	    							 <button title="Water 24*7" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/water.svg">
	    							 	
	    							 </button>	
	    							 <button title="Power Backup" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/power.svg">
	    							 	
	    							 </button>	
	    							 <button title="Television" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/tv.svg">
	    							 	
	    							 </button>	
									
									</div>
								</div>

						      	<p class="fav"><i class="fa fa-heart"> <span>78 favs</span></i></p>
						      	<p class="view"><i class="fa fa-eye"> <span>1667 views</span></i></p>
						      	<div class="clearfix"></div>						      	
					      	</div>
					    </a>
				      	<a class="btn-floating btn-large waves-effect waves-light fav-btn"><i class="fa fa-heart-o"></i></a>			
			        </div>	
				</div>

				<div class="card-one col l4 m6 s12">
					<div class="all">
						<a href="#" class="main-box">
							<div class="display-image">
					      		<img src="../build/images/house.png"/>
					      		<span class="caption">Chainpur, Bara</span>
					      	</div>
					      	<div class="card-info">						      	
						      	<p class="cost">Nrs 22000/mo. </p>
						      	<p class="need">Subhida yukta flat bhadama chaiyeko awastha </p>
						      	<div class="icons icon1" >
						      		<div class="belt">
									<button title="Air-conditioned" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/ac.svg">
	    							 	
	    							</button>	
	    							 <button title="Security Camera" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/cc.svg">
	    							 	
	    							 </button>	
	    							 <button title="Electricity" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/electricity.svg">
	    							 	
	    							 </button>	
	    							 <button title="Elevator" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/elevator.svg">
	    							 	
	    							 </button>	
	    							 <button title="Furnished" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/furnished.svg">
	    							 	
	    							 </button>	
	    							 <button title="Garden" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/garden.svg">
	    							 	
	    							 </button>
	    							 <button title="Gym" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/gym.svg">
	    							 	
	    							 </button>	
	    							 <button title="Internet" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/internet.svg">
	    							 	
	    							 </button>	
	    							 <button title="East Faced" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/east.svg">
	    							 	
	    							 </button>	
	    							 <button title="West Faced" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/west.svg">
	    							 	
	    							 </button>	
	    							 <button title="North Faced" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/north.svg">
	    							 	
	    							 </button>	
	    							 <button title="South Faced" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/south.svg">
	    							 	
	    							 </button>	
	    							 <button title="Parking" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/parking.svg">
	    							 	
	    							 </button>	
	    							 <button title="Pets Allowed" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/pets.svg">
	    							 	
	    							 </button>	
	    							 <button title="Swimming Pool" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/pool.svg">
	    							 	
	    							 </button>	
	    							 <button title="Shopping Center" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/shopping.svg">
	    							 	
	    							 </button>	
	    							 <button title="Solar" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/solar.svg">
	    							 	
	    							 </button>	
	    							 <button title="Theatre" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/theatre.svg">
	    							 	
	    							 </button>	
	    							 <button title="Water 24*7" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/water.svg">
	    							 	
	    							 </button>	
	    							 <button title="Power Backup" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/power.svg">
	    							 	
	    							 </button>	
	    							 <button title="Television" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/tv.svg">
	    							 	
	    							 </button>	
									
									</div>
								</div>

						      	<p class="fav"><i class="fa fa-heart"> <span>78 favs</span></i></p>
						      	<p class="view"><i class="fa fa-eye"> <span>1667 views</span></i></p>
						      	<div class="clearfix"></div>						      	
					      	</div>
					    </a>
				      	<a class="btn-floating btn-large waves-effect waves-light fav-btn"><i class="fa fa-heart-o"></i></a>			
			        </div>	
				</div>

				<div class="card-one col l4 m6 s12">
					<div class="all">
						<a href="#" class="main-box">
							<div class="display-image">
					      		<img src="../build/images/house.png"/>
					      		<span class="caption">Chainpur, Bara</span>
					      	</div>
					      	<div class="card-info">						      	
						      	<p class="cost">Nrs 22000/mo. </p>
						      	<p class="need">Subhida yukta flat bhadama chaiyeko awastha </p>
						      	<div class="icons icon1" >
						      		<div class="belt">
									<button title="Air-conditioned" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/ac.svg">
	    							 	
	    							</button>	
	    							 <button title="Security Camera" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/cc.svg">
	    							 	
	    							 </button>	
	    							 <button title="Electricity" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/electricity.svg">
	    							 	
	    							 </button>	
	    							 <button title="Elevator" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/elevator.svg">
	    							 	
	    							 </button>	
	    							 <button title="Furnished" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/furnished.svg">
	    							 	
	    							 </button>	
	    							 <button title="Garden" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/garden.svg">
	    							 	
	    							 </button>
	    							 <button title="Gym" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/gym.svg">
	    							 	
	    							 </button>	
	    							 <button title="Internet" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/internet.svg">
	    							 	
	    							 </button>	
	    							 <button title="East Faced" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/east.svg">
	    							 	
	    							 </button>	
	    							 <button title="West Faced" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/west.svg">
	    							 	
	    							 </button>	
	    							 <button title="North Faced" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/north.svg">
	    							 	
	    							 </button>	
	    							 <button title="South Faced" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/south.svg">
	    							 	
	    							 </button>	
	    							 <button title="Parking" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/parking.svg">
	    							 	
	    							 </button>	
	    							 <button title="Pets Allowed" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/pets.svg">
	    							 	
	    							 </button>	
	    							 <button title="Swimming Pool" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/pool.svg">
	    							 	
	    							 </button>	
	    							 <button title="Shopping Center" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/shopping.svg">
	    							 	
	    							 </button>	
	    							 <button title="Solar" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/solar.svg">
	    							 	
	    							 </button>	
	    							 <button title="Theatre" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/theatre.svg">
	    							 	
	    							 </button>	
	    							 <button title="Water 24*7" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/water.svg">
	    							 	
	    							 </button>	
	    							 <button title="Power Backup" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/power.svg">
	    							 	
	    							 </button>	
	    							 <button title="Television" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/tv.svg">
	    							 	
	    							 </button>	
									
									</div>
								</div>

						      	<p class="fav"><i class="fa fa-heart"> <span>78 favs</span></i></p>
						      	<p class="view"><i class="fa fa-eye"> <span>1667 views</span></i></p>
						      	<div class="clearfix"></div>						      	
					      	</div>
					    </a>
				      	<a class="btn-floating btn-large waves-effect waves-light fav-btn"><i class="fa fa-heart-o"></i></a>			
			        </div>	
				</div>

				<div class="card-one col l4 m6 s12">
					<div class="all">
						<a href="#" class="main-box">
							<div class="display-image">
					      		<img src="../build/images/house.png"/>
					      		<span class="caption">Chainpur, Bara</span>
					      	</div>
					      	<div class="card-info">						      	
						      	<p class="cost">Nrs 22000/mo. </p>
						      	<p class="need">Subhida yukta flat bhadama chaiyeko awastha </p>
						      	<div class="icons icon1" >
						      		<div class="belt">
									<button title="Air-conditioned" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/ac.svg">
	    							 	
	    							</button>	
	    							 <button title="Security Camera" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/cc.svg">
	    							 	
	    							 </button>	
	    							 <button title="Electricity" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/electricity.svg">
	    							 	
	    							 </button>	
	    							 <button title="Elevator" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/elevator.svg">
	    							 	
	    							 </button>	
	    							 <button title="Furnished" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/furnished.svg">
	    							 	
	    							 </button>	
	    							 <button title="Garden" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/garden.svg">
	    							 	
	    							 </button>
	    							 <button title="Gym" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/gym.svg">
	    							 	
	    							 </button>	
	    							 <button title="Internet" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/internet.svg">
	    							 	
	    							 </button>	
	    							 <button title="East Faced" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/east.svg">
	    							 	
	    							 </button>	
	    							 <button title="West Faced" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/west.svg">
	    							 	
	    							 </button>	
	    							 <button title="North Faced" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/north.svg">
	    							 	
	    							 </button>	
	    							 <button title="South Faced" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/south.svg">
	    							 	
	    							 </button>	
	    							 <button title="Parking" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/parking.svg">
	    							 	
	    							 </button>	
	    							 <button title="Pets Allowed" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/pets.svg">
	    							 	
	    							 </button>	
	    							 <button title="Swimming Pool" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/pool.svg">
	    							 	
	    							 </button>	
	    							 <button title="Shopping Center" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/shopping.svg">
	    							 	
	    							 </button>	
	    							 <button title="Solar" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/solar.svg">
	    							 	
	    							 </button>	
	    							 <button title="Theatre" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/theatre.svg">
	    							 	
	    							 </button>	
	    							 <button title="Water 24*7" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/water.svg">
	    							 	
	    							 </button>	
	    							 <button title="Power Backup" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/power.svg">
	    							 	
	    							 </button>	
	    							 <button title="Television" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/tv.svg">
	    							 	
	    							 </button>	
									
									</div>
								</div>

						      	<p class="fav"><i class="fa fa-heart"> <span>78 favs</span></i></p>
						      	<p class="view"><i class="fa fa-eye"> <span>1667 views</span></i></p>
						      	<div class="clearfix"></div>						      	
					      	</div>
					    </a>
				      	<a class="btn-floating btn-large waves-effect waves-light fav-btn"><i class="fa fa-heart-o"></i></a>			
			        </div>	
				</div>

				<div class="card-one col l4 m6 s12">
					<div class="all">
						<a href="#" class="main-box">
							<div class="display-image">
					      		<img src="../build/images/house.png"/>
					      		<span class="caption">Chainpur, Bara</span>
					      	</div>
					      	<div class="card-info">						      	
						      	<p class="cost">Nrs 22000/mo. </p>
						      	<p class="need">Subhida yukta flat bhadama chaiyeko awastha </p>
						      	<div class="icons icon1" >
						      		<div class="belt">
									<button title="Air-conditioned" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/ac.svg">
	    							 	
	    							</button>	
	    							 <button title="Security Camera" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/cc.svg">
	    							 	
	    							 </button>	
	    							 <button title="Electricity" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/electricity.svg">
	    							 	
	    							 </button>	
	    							 <button title="Elevator" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/elevator.svg">
	    							 	
	    							 </button>	
	    							 <button title="Furnished" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/furnished.svg">
	    							 	
	    							 </button>	
	    							 <button title="Garden" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/garden.svg">
	    							 	
	    							 </button>
	    							 <button title="Gym" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/gym.svg">
	    							 	
	    							 </button>	
	    							 <button title="Internet" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/internet.svg">
	    							 	
	    							 </button>	
	    							 <button title="East Faced" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/east.svg">
	    							 	
	    							 </button>	
	    							 <button title="West Faced" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/west.svg">
	    							 	
	    							 </button>	
	    							 <button title="North Faced" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/north.svg">
	    							 	
	    							 </button>	
	    							 <button title="South Faced" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/south.svg">
	    							 	
	    							 </button>	
	    							 <button title="Parking" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/parking.svg">
	    							 	
	    							 </button>	
	    							 <button title="Pets Allowed" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/pets.svg">
	    							 	
	    							 </button>	
	    							 <button title="Swimming Pool" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/pool.svg">
	    							 	
	    							 </button>	
	    							 <button title="Shopping Center" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/shopping.svg">
	    							 	
	    							 </button>	
	    							 <button title="Solar" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/solar.svg">
	    							 	
	    							 </button>	
	    							 <button title="Theatre" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/theatre.svg">
	    							 	
	    							 </button>	
	    							 <button title="Water 24*7" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/water.svg">
	    							 	
	    							 </button>	
	    							 <button title="Power Backup" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/power.svg">
	    							 	
	    							 </button>	
	    							 <button title="Television" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/tv.svg">
	    							 	
	    							 </button>	
									
									</div>
								</div>

						      	<p class="fav"><i class="fa fa-heart"> <span>78 favs</span></i></p>
						      	<p class="view"><i class="fa fa-eye"> <span>1667 views</span></i></p>
						      	<div class="clearfix"></div>						      	
					      	</div>
					    </a>
				      	<a class="btn-floating btn-large waves-effect waves-light fav-btn"><i class="fa fa-heart-o"></i></a>			
			        </div>	
				</div>

				<div class="card-one col l4 m6 s12">
					<div class="all">
						<a href="#" class="main-box">
							<div class="display-image">
					      		<img src="../build/images/house.png"/>
					      		<span class="caption">Chainpur, Bara</span>
					      	</div>
					      	<div class="card-info">						      	
						      	<p class="cost">Nrs 22000/mo. </p>
						      	<p class="need">Subhida yukta flat bhadama chaiyeko awastha </p>
						      	<div class="icons icon1" >
						      		<div class="belt">
									<button title="Air-conditioned" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/ac.svg">
	    							 	
	    							</button>	
	    							 <button title="Security Camera" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/cc.svg">
	    							 	
	    							 </button>	
	    							 <button title="Electricity" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/electricity.svg">
	    							 	
	    							 </button>	
	    							 <button title="Elevator" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/elevator.svg">
	    							 	
	    							 </button>	
	    							 <button title="Furnished" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/furnished.svg">
	    							 	
	    							 </button>	
	    							 <button title="Garden" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/garden.svg">
	    							 	
	    							 </button>
	    							 <button title="Gym" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/gym.svg">
	    							 	
	    							 </button>	
	    							 <button title="Internet" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/internet.svg">
	    							 	
	    							 </button>	
	    							 <button title="East Faced" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/east.svg">
	    							 	
	    							 </button>	
	    							 <button title="West Faced" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/west.svg">
	    							 	
	    							 </button>	
	    							 <button title="North Faced" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/north.svg">
	    							 	
	    							 </button>	
	    							 <button title="South Faced" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/south.svg">
	    							 	
	    							 </button>	
	    							 <button title="Parking" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/parking.svg">
	    							 	
	    							 </button>	
	    							 <button title="Pets Allowed" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/pets.svg">
	    							 	
	    							 </button>	
	    							 <button title="Swimming Pool" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/pool.svg">
	    							 	
	    							 </button>	
	    							 <button title="Shopping Center" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/shopping.svg">
	    							 	
	    							 </button>	
	    							 <button title="Solar" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/solar.svg">
	    							 	
	    							 </button>	
	    							 <button title="Theatre" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/theatre.svg">
	    							 	
	    							 </button>	
	    							 <button title="Water 24*7" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/water.svg">
	    							 	
	    							 </button>	
	    							 <button title="Power Backup" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/power.svg">
	    							 	
	    							 </button>	
	    							 <button title="Television" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/tv.svg">
	    							 	
	    							 </button>	
									
									</div>
								</div>

						      	<p class="fav"><i class="fa fa-heart"> <span>78 favs</span></i></p>
						      	<p class="view"><i class="fa fa-eye"> <span>1667 views</span></i></p>
						      	<div class="clearfix"></div>						      	
					      	</div>
					    </a>
				      	<a class="btn-floating btn-large waves-effect waves-light fav-btn"><i class="fa fa-heart-o"></i></a>			
			        </div>	
				</div>

				<div class="card-one col l4 m6 s12">
					<div class="all">
						<a href="#" class="main-box">
							<div class="display-image">
					      		<img src="../build/images/house.png"/>
					      		<span class="caption">Chainpur, Bara</span>
					      	</div>
					      	<div class="card-info">						      	
						      	<p class="cost">Nrs 22000/mo. </p>
						      	<p class="need">Subhida yukta flat bhadama chaiyeko awastha </p>
						      	<div class="icons icon1" >
						      		<div class="belt">
									<button title="Air-conditioned" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/ac.svg">
	    							 	
	    							</button>	
	    							 <button title="Security Camera" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/cc.svg">
	    							 	
	    							 </button>	
	    							 <button title="Electricity" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/electricity.svg">
	    							 	
	    							 </button>	
	    							 <button title="Elevator" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/elevator.svg">
	    							 	
	    							 </button>	
	    							 <button title="Furnished" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/furnished.svg">
	    							 	
	    							 </button>	
	    							 <button title="Garden" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/garden.svg">
	    							 	
	    							 </button>
	    							 <button title="Gym" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/gym.svg">
	    							 	
	    							 </button>	
	    							 <button title="Internet" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/internet.svg">
	    							 	
	    							 </button>	
	    							 <button title="East Faced" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/east.svg">
	    							 	
	    							 </button>	
	    							 <button title="West Faced" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/west.svg">
	    							 	
	    							 </button>	
	    							 <button title="North Faced" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/north.svg">
	    							 	
	    							 </button>	
	    							 <button title="South Faced" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/south.svg">
	    							 	
	    							 </button>	
	    							 <button title="Parking" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/parking.svg">
	    							 	
	    							 </button>	
	    							 <button title="Pets Allowed" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/pets.svg">
	    							 	
	    							 </button>	
	    							 <button title="Swimming Pool" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/pool.svg">
	    							 	
	    							 </button>	
	    							 <button title="Shopping Center" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/shopping.svg">
	    							 	
	    							 </button>	
	    							 <button title="Solar" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/solar.svg">
	    							 	
	    							 </button>	
	    							 <button title="Theatre" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/theatre.svg">
	    							 	
	    							 </button>	
	    							 <button title="Water 24*7" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/water.svg">
	    							 	
	    							 </button>	
	    							 <button title="Power Backup" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/power.svg">
	    							 	
	    							 </button>	
	    							 <button title="Television" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/tv.svg">
	    							 	
	    							 </button>	
									
									</div>
								</div>

						      	<p class="fav"><i class="fa fa-heart"> <span>78 favs</span></i></p>
						      	<p class="view"><i class="fa fa-eye"> <span>1667 views</span></i></p>
						      	<div class="clearfix"></div>						      	
					      	</div>
					    </a>
				      	<a class="btn-floating btn-large waves-effect waves-light fav-btn"><i class="fa fa-heart-o"></i></a>			
			        </div>	
				</div>

				<div class="card-one col l4 m6 s12">
					<div class="all">
						<a href="#" class="main-box">
							<div class="display-image">
					      		<img src="../build/images/house.png"/>
					      		<span class="caption">Chainpur, Bara</span>
					      	</div>
					      	<div class="card-info">						      	
						      	<p class="cost">Nrs 22000/mo. </p>
						      	<p class="need">Subhida yukta flat bhadama chaiyeko awastha </p>
						      	<div class="icons icon1" >
						      		<div class="belt">
									<button title="Air-conditioned" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/ac.svg">
	    							 	
	    							</button>	
	    							 <button title="Security Camera" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/cc.svg">
	    							 	
	    							 </button>	
	    							 <button title="Electricity" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/electricity.svg">
	    							 	
	    							 </button>	
	    							 <button title="Elevator" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/elevator.svg">
	    							 	
	    							 </button>	
	    							 <button title="Furnished" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/furnished.svg">
	    							 	
	    							 </button>	
	    							 <button title="Garden" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/garden.svg">
	    							 	
	    							 </button>
	    							 <button title="Gym" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/gym.svg">
	    							 	
	    							 </button>	
	    							 <button title="Internet" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/internet.svg">
	    							 	
	    							 </button>	
	    							 <button title="East Faced" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/east.svg">
	    							 	
	    							 </button>	
	    							 <button title="West Faced" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/west.svg">
	    							 	
	    							 </button>	
	    							 <button title="North Faced" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/north.svg">
	    							 	
	    							 </button>	
	    							 <button title="South Faced" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/south.svg">
	    							 	
	    							 </button>	
	    							 <button title="Parking" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/parking.svg">
	    							 	
	    							 </button>	
	    							 <button title="Pets Allowed" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/pets.svg">
	    							 	
	    							 </button>	
	    							 <button title="Swimming Pool" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/pool.svg">
	    							 	
	    							 </button>	
	    							 <button title="Shopping Center" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/shopping.svg">
	    							 	
	    							 </button>	
	    							 <button title="Solar" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/solar.svg">
	    							 	
	    							 </button>	
	    							 <button title="Theatre" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/theatre.svg">
	    							 	
	    							 </button>	
	    							 <button title="Water 24*7" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/water.svg">
	    							 	
	    							 </button>	
	    							 <button title="Power Backup" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/power.svg">
	    							 	
	    							 </button>	
	    							 <button title="Television" class="btn-floating waves-effect waves-light">
	    							 	<img src="feature-icons/tv.svg">
	    							 	
	    							 </button>	
									
									</div>
								</div>

						      	<p class="fav"><i class="fa fa-heart"> <span>78 favs</span></i></p>
						      	<p class="view"><i class="fa fa-eye"> <span>1667 views</span></i></p>
						      	<div class="clearfix"></div>						      	
					      	</div>
					    </a>
				      	<a class="btn-floating btn-large waves-effect waves-light fav-btn"><i class="fa fa-heart-o"></i></a>			
			        </div>	
				</div>			

			
			</div><!--row ends-->  		

								

		

		<!-- <ul class="pagination">
		   
		    <li class="waves-effect active"><a href="#" rel="page-one">1</a></li>
		    <li class="waves-effect"><a href="#" rel="page-two">2</a></li>
		    <li class="waves-effect"><a href="#" rel="page-three">3</a></li>
		    <li class="waves-effect"><a href="#" rel="page-four">4</a></li>
		    <li class="waves-effect"><a href="#" rel="page-five">5</a></li>
		    
		</ul> --><!--pagination ends-->					

</div><!--home ends-->	



<script type="text/javascript" src="js/jquery.range.js"></script>
<script type="text/javascript" src="js/dragscrollable.js"></script>
<script type="text/javascript">

$(document).ready(function() {
	$('#home .pagination li a').click(function() {
	    $(' #home .active').removeClass('active');		    
	    $(this).addClass('active');
	    $('#' + $(this).attr('rel')).addClass('active');  
   	});

	$('.pagination li').click(function(){
		$('.pagination .active').removeClass('active');
		$(this).addClass('active');
	});

		$('.icons, .belt').dragscrollable({
		    dragSelector: '.belt', 
		    acceptPropagatedEvent: true
		});	


	


		$('.filter-btn').hide();
		$("#filter-btn").click(function(){
			
			$(".filter-btn").slideToggle();       
		});

		$('select').material_select();	  

		var slider = document.getElementById('home-range');
		noUiSlider.create(slider, {
				start: [20, 80],
				connect: true,
				step: 1,
				range: {
				'min': 0,
				'max': 100
			},
			format: wNumb({
				decimals: 0
			})
		});
				
		slider.noUiSlider.on('update', function( values, handle ) {
			if ( handle ) {
				$('#home-range-value').attr('data-max',values[1]);
				$('#home-range-value').attr('data-min',values[0]);
			} else {
				$('#home-range-value').attr('data-max',values[1]);
				$('#home-range-value').attr('data-min',values[0]);
			}
		});
});


</script>	


