	<div class="notification">		
		<h5>Notifications</h5>

		<div class="notifications-list">
			<ul>			
				<li>
					<a href="#">
						<div class="not">
							<div class="propic">
								<img src="images/card.png">
							</div>
							<div class="text">
								<p class="desc">Suman Jung liked your post.</p>
								
							</div>
						</div><!--not ends-->
					</a>
				</li>

				<li>
					<a href="#">
						<div class="not">
							<div class="propic">
								<img src="images/card.png">
							</div>
							<div class="text">
								<p class="desc">Suman Jung liked your post.</p>
								
							</div>
						</div><!--not ends-->
					</a>
				</li>

				<li>
					<a href="#">
						<div class="not">
							<div class="propic">
								<img src="images/card.png">
							</div>
							<div class="text">
								<p class="desc">Suman Jung liked your post.</p>
								
							</div>
						</div><!--not ends-->
					</a>
				</li>

				<li>
					<a href="#">
						<div class="not">
							<div class="propic">
								<img src="images/card.png">
							</div>
							<div class="text">
								<p class="desc">Suman Jung liked your post.</p>
								
							</div>
						</div><!--not ends-->
					</a>
				</li>

				<li>
					<a href="#">
						<div class="not">
							<div class="propic">
								<img src="images/card.png">
							</div>
							<div class="text">
								<p class="desc">Suman Jung liked your post.</p>
								
							</div>
						</div><!--not ends-->
					</a>
				</li>

				<li>
					<a href="#">
						<div class="not">
							<div class="propic">
								<img src="images/card.png">
							</div>
							<div class="text">
								<p class="desc">Suman Jung liked your post.</p>
								
							</div>
						</div><!--not ends-->
					</a>
				</li>

				<li>
					<a href="#">
						<div class="not">
							<div class="propic">
								<img src="images/card.png">
							</div>
							<div class="text">
								<p class="desc">Suman Jung liked your post.</p>
								
							</div>
						</div><!--not ends-->
					</a>
				</li>

				<li>
					<a href="#">
						<div class="not">
							<div class="propic">
								<img src="images/card.png">
							</div>
							<div class="text">
								<p class="desc">Suman Jung liked your post.</p>
								
							</div>
						</div><!--not ends-->
					</a>
				</li>

				<li>
					<a href="#">
						<div class="not">
							<div class="propic">
								<img src="images/card.png">
							</div>
							<div class="text">
								<p class="desc">Suman Jung liked your post.</p>
								
							</div>
						</div><!--not ends-->
					</a>
				</li>
				

				
			</ul>
		</div><!--notifications-list ends-->
			
	</div><!--notification ends-->

