
	<div class="profile">		
		<div class="info-list">
			<ul>		
				<li>					
					<div class="label">
						<img src="images/user-icon.png">
						<span>Full Name</span>						
					</div>
					<input value="Suman Adhikari" readonly="">					
				</li>

				<li>					
					<div class="label">
						<img src="images/email-icon.png">
						<span>Email</span>						
					</div>
					<input type="email" class="validate" value="namusjung@abc.com" readonly="">					
				</li>

				<li>					
					<div class="label">
						<img src="images/password-icon.png">
						<span>Password</span>						
					</div>
					<input type="password" value="Suman Adhikari" readonly="">					
				</li>

				<li>					
					<div class="label">
						<img src="images/phone-icon.png">
						<span>Phone no.</span>						
					</div>
					<input type="number" value="9840123456" readonly="">					
				</li>

				<li>					
					<div class="label">
						<img src="images/phone-icon.png">
						<span>Phone no.</span>						
					</div>
					<input type="number" value="9840123456" readonly="">					
				</li>	

				<li>					
					<div class="label">
						<img src="images/phone-icon.png">
						<span>Phone no.</span>						
					</div>
					<input type="number" value="9840123456" readonly="">					
				</li>	

				<li>					
					<div class="label">
						<img src="images/phone-icon.png">
						<span>Phone no.</span>						
					</div>
					<input type="number" value="9840123456" readonly="">					
				</li>				
			</ul>

			<div class="save-btn" id="save-button">
				<a class="waves-effect waves-light btn">Save</a>
			</div>
		</div><!--info-list ends-->
			
	</div><!--profile ends-->
